.low{
    background-color: rgb(31, 207, 31);
    padding: 0 5px ;
    border-radius: 3px;
}
.moderate{
    background-color: yellow;
    padding: 0 5px;
    border-radius: 3px;
}
.high{
    background-color: orange;
    padding: 0 5px;
    border-radius: 3px;
}
.very-high{
    background-color: red;
    padding: 0 5px;
    border-radius: 3px;
}
.five-day{
    margin: 5px;
    color: white;
}
.navbar{
    color: white;
    background-color: rgb(34, 30, 30);
}
.blue{
    background-color: rgb(56, 119, 255);
}
#forecast-today{
    padding: 15px;
}